pandas==2.2.2
numpy==1.26.4
python-dateutil==2.9.0.post0

streamlit==1.37.1
plotly==5.23.0

openai==1.45.0
langchain==0.2.16
langchain-community==0.2.16
langchain-openai==0.1.22
langchain-experimental==0.0.62

llama-index==0.11.12

json5==0.9.25
pydantic==2.9.2
regex==2024.7.24
pandera==0.20.4

python-dotenv==1.0.1
tqdm==4.66.5
rich==13.9.2

pytest==8.3.2
hypothesis==6.108.0

black==24.8.0
ruff==0.6.9
mypy==1.11.2
pre-commit==3.8.0
